In [1]:
import geopandas as gpd
from sqlalchemy import create_engine

In [3]:
! mc cp s3/projet-slums-detection/Stagios/stats_ilots.gpkg stats_ilots.gpkg

]11;?\

...ilots.gpkg: 43.32 MiB / 43.32 MiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 89.45 MiB/s 0s

In [ ]:
! pip install geopandas psycopg2-binary
! pip install geoalchemy2

In [48]:
user = 'cratt'
password = 'cratt'
host = '10.233.65.71'
port = '5432'
dbname = 'db_cratt'
schema = 'public'  # ou un autre schéma si nécessaire

connection_string = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'
engine = create_engine(connection_string)

In [35]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from geoalchemy2 import Geometry
import pandas as pd

In [55]:
connection_string = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'
engine = create_engine(connection_string)

gpkg_path = 'stats_ilots.gpkg'

gdf = gpd.read_file(gpkg_path)

gdf = gdf.to_crs(4326)
gdf.head(2)

,ident_ilot,aire_bati,aireplus,airemoins,airetotale,aire_bati_par_ilot,aire_plus_pct,aire_moins_pct,aire_totale_pct,area,geometry
0,976110325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9061.011359,"MULTIPOLYGON (((45.22039 -12.77447, 45.22018 -..."
1,976110411,6.75,76.25,66.5,9.75,17472.5,0.4364,0.380598,0.055802,15622.671586,"MULTIPOLYGON (((45.21049 -12.80063, 45.21077 -..."

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [56]:
class GwWell(Base):
    __tablename__ = 'stat_ilot'
    ident_ilot = Column(String, primary_key=True)
    aire_bati = Column(Float)
    aireplus = Column(Float)
    airemoins = Column(Float)
    airetotale = Column(Float)
    aire_bati_par_ilot = Column(Float)
    aire_plus_pct =  Column(Float)
    aire_moins_pct =  Column(Float)
    aire_totale_pct =  Column(Float)
    area =  Column(Float)
    geom = Column(Geometry(geometry_type='MULTIPOLYGON', srid='4326'))

GwWell.__table__.create(engine)
GwWell.__table__

/tmp/ipykernel_9777/2491835247.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.GwWell, and will be replaced in the string-lookup table.
  class GwWell(Base):

Table('stat_ilot', MetaData(), Column('ident_ilot', String(), table=<stat_ilot>, primary_key=True, nullable=False), Column('aire_bati', Float(), table=<stat_ilot>), Column('aireplus', Float(), table=<stat_ilot>), Column('airemoins', Float(), table=<stat_ilot>), Column('airetotale', Float(), table=<stat_ilot>), Column('aire_bati_par_ilot', Float(), table=<stat_ilot>), Column('aire_plus_pct', Float(), table=<stat_ilot>), Column('aire_moins_pct', Float(), table=<stat_ilot>), Column('aire_totale_pct', Float(), table=<stat_ilot>), Column('area', Float(), table=<stat_ilot>), Column('geom', Geometry(geometry_type='MULTIPOLYGON', srid=4326, from_text='ST_GeomFromEWKT', name='geometry'), table=<stat_ilot>), schema=None)